<p id="notice"><%= notice %></p>

<h1>Unidades</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unidades.each do |unidade| %>
      <tr>
        <td><%= unidade.descripcion %></td>
        <td><%= unidade.estado %></td>
        <td><%= link_to 'Mostrar', unidade %></td>
        <td><%= link_to 'Editar', edit_unidade_path(unidade) %></td>
        <td><%= link_to 'Eliminar', unidade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Unidad', new_unidade_path %>
