<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @unidade.descripcion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @unidade.estado %>
</p>

<%= link_to 'Edit', edit_unidade_path(@unidade) %> |
<%= link_to 'Back', unidades_path %>
