<div class="form-group">
	<%# @memorandum.remitente.inspect %>
  <label class="control-label">REMITENTE: </label>
	<% remitente = User.find(@memorandum.remitente) %>
	<% remitente.inspect %>
	<%= remitente.nombre %> - (<%= remitente.cargo.descripcion %>)
	
  <%# text_field_tag('descripcion', nil, :required => true, :class=>'form-control', maxlength: '150') %>
  <input type="hidden" name="memo[remitente]" value="<%= remitente.id %>" />
  <input type="hidden" name="memo[remitente]" value="<%= remitente.id %>" />
  <input type="text" name="memo[cite]" class="form-control" />
</div>

<div class="form-group">
  <label class="control-label">CITE</label>
  <%# text_field_tag('descripcion', nil, :required => true, :class=>'form-control', maxlength: '150') %>
  <input type="text" name="memo[cite]" class="form-control">
</div>

<div class="form-group">
  <label class="control-label">Comision</label>
  <select class="select2 m-b-10 select2-multiple" name="memo[funcionarios]" style="width: 100%" multiple="multiple" data-placeholder="Seleccione">
  	<optgroup label="Funcionarios">
  		<% personal.each do |p| %>
  			<option value="<%= p.id %>"><%= p.nombre %> (<%= p.cargo.descripcion %>)</option>
  		<% end %>
  	</optgroup>
  </select>
  <input type="hidden" name="memo[valores_personal]" id="valores_personal">
</div>

<div class="form-group">
  <label class="control-label">Documento</label>
  <%# text_field_tag('descripcion', nil, :required => true, :class=>'form-control', maxlength: '150') %>
  <!-- <input type="text" name="doc[documento]" class="form-control"> -->
  <textarea name="memo[documento]" rows="5" class="summernote"><%= @memorandum.contenido %></textarea>  	
</div>

<% content_for :add_css do %>
	<link href="<%= asset_path '/assets/plugins/select2/dist/css/select2.min.css' %>" rel="stylesheet" type="text/css">
	<link href="<%= asset_path '/assets/plugins/summernote/dist/summernote-bs4.css' %>" rel="stylesheet" />
<% end %>

<% content_for :add_js do %>
	<script src="<%= asset_path '/assets/plugins/select2/dist/js/select2.full.min.js' %>"></script>
	<script src="<%= asset_path '/assets/plugins/summernote/dist/summernote-bs4.min.js' %>"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$(".select2").select2();
			$("#btn_genera_asignados").hover(function() {
				// alert("Selected value is: "+$(".select2").val());
			$("#valores_personal").val($(".select2").val());
			}, function() {
				/* Stuff to do when the mouse leaves the element */
			});
			// $(".select2").focusout(function(event) {
			// });
		});
	</script>

	<script>
		
	    $(document).ready(function() {

	        $('.summernote').summernote({
	            height: 350, // set editor height
	            minHeight: null, // set minimum height of editor
	            maxHeight: null, // set maximum height of editor
	            focus: false // set focus to editable area after initializing summernote
	        });

	        $('.inline-editor').summernote({
	            airMode: true
	        });

	    });

	    window.edit = function() {
	            $(".click2edit").summernote()
	        },
	        window.save = function() {
	            $(".click2edit").summernote('destroy');
	        }
	</script>
<% end %>