<p id="notice"><%= notice %></p>

<p>
  <strong>Usero:</strong>
  <%= @derivacione.usero_id %>
</p>

<p>
  <strong>Unidadeo:</strong>
  <%= @derivacione.unidadeo_id %>
</p>

<p>
  <strong>Userd:</strong>
  <%= @derivacione.userd_id %>
</p>

<p>
  <strong>Unidadd:</strong>
  <%= @derivacione.unidadd_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @derivacione.fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @derivacione.estado %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @derivacione.observaciones %>
</p>

<%= link_to 'Edit', edit_derivacione_path(@derivacione) %> |
<%= link_to 'Back', derivaciones_path %>
