<%= form_with(model: cargo, local: true) do |form| %>
  <% if cargo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cargo.errors.count, "error") %> prohibited this cargo from being saved:</h2>

      <ul>
      <% cargo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :cargo_descripcion, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :Unidad %>
    <%= select("cargo", "unidade_id", Unidade.all.collect {|u| [ u.descripcion, u.id ] }, {include_blank: 'Seleccione Unidad'}, {class: 'form-control'}) %>
  </div>

  <div class="actions">
    <input type="submit" value="Guardar">
  </div>
<% end %>
