<style type="text/css">
  input[type="checkbox"]{
      -ms-transform: scale(2); /* IE */
      -moz-transform: scale(2); /* FF */
      -webkit-transform: scale(2); /* Safari and Chrome */
      -o-transform: scale(2); /* Opera */
      padding: 10px;
  }
</style>
<div class="row">
  <div class="col-lg-12">
    <div class="card card-outline-info">
      <div class="card-header">
        <h4 class="m-b-0 text-white">REPORTES POR FORMULARIO / TRAMITE</h4>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-outline-info">
            <div class="card-body">
              <%= form_tag('/reportes/por_numero') do %>
              <div class="form-body">
                <div class="field-group row">

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label">Buscar Por</label>
                      <div class="controls">
                        <select name="busca_por" class="form-control">
                          <option value="numero">Numero</option>
                          <option value="formulario">Formulario</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label">&nbsp;</label>
                      <div class="controls">
                        <%= text_field_tag('docvalor', nil, class: 'form-control', required: true) %>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <label for="">&nbsp;</label>
                    <br>
                    <input type="submit" class="btn btn-block btn-success span-2 delete" value="Generar" />
                  </div>

                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card card-outline-info">
      <div class="card-header">
        <h4 class="m-b-0 text-white">REPORTES POR FORMULARIO / TRAMITE</h4>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-outline-info">
            <div class="card-body">
              <%= form_tag('/reportes/por_numero') do %>
              <div class="form-body">
                <div class="field-group row">

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label-{?}">Numero</label>
                      <div class="controls">
                        <%= text_field_tag('numero', nil, class: 'form-control', required: true) %>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label-{?}">Formulario</label>
                      <div class="controls">
                        <%= text_field_tag('docvalor', nil, class: 'form-control', required: true) %>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <label for="">&nbsp;</label>
                    <br>
                    <input type="button" class="btn btn-block btn-success span-2 delete" value="Generar" />
                  </div>
                  
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card card-outline-info">
      <div class="card-header">
        <h4 class="m-b-0 text-white">REPORTES POR FORMULARIO / TRAMITE</h4>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-outline-info">
            <div class="card-body">
              <%= form_tag('/reportes/por_numero') do %>
              <div class="form-body">
                <div class="field-group row">

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label-{?}">Numero</label>
                      <div class="controls">
                        <%= text_field_tag('numero', nil, class: 'form-control', required: true) %>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label-{?}">Formulario</label>
                      <div class="controls">
                        <%= text_field_tag('docvalor', nil, class: 'form-control', required: true) %>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <label for="">&nbsp;</label>
                    <br>
                    <input type="submit" class="btn btn-block btn-success span-2 delete" value="Generar" />
                  </div>
                  
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
<% content_for :add_js do %>
<script src="<%= asset_path '/js/validation.js' %>"></script>
<script src="<%= asset_path '/js/jquery.repeatable.js' %>"></script>

<script type="text/javascript">
$("#form-producto input").jqBootstrapValidation();
</script>

<% end %>
