<p id="notice"><%= notice %></p>

<h1>Migraciones</h1>

<table>
  <thead>
    <tr>
      <th>Cite</th>
      <th>Documento</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @migraciones.each do |migracione| %>
      <tr>
        <td><%= migracione.cite %></td>
        <td><%= migracione.documento %></td>
        <td><%= migracione.fecha %></td>
        <td><%= link_to 'Show', migracione %></td>
        <td><%= link_to 'Edit', edit_migracione_path(migracione) %></td>
        <td><%= link_to 'Destroy', migracione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Migracione', new_migracione_path %>
