<p id="notice"><%= notice %></p>

<p>
  <strong>Cite:</strong>
  <%= @migracione.cite %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @migracione.documento %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @migracione.fecha %>
</p>

<%= link_to 'Edit', edit_migracione_path(@migracione) %> |
<%= link_to 'Back', migraciones_path %>
