<p id="notice"><%= notice %></p>

<h1>Escogidos</h1>

<table>
  <thead>
    <tr>
      <th>Memo</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @escogidos.each do |escogido| %>
      <tr>
        <td><%= escogido.memo_id %></td>
        <td><%= escogido.user_id %></td>
        <td><%= link_to 'Show', escogido %></td>
        <td><%= link_to 'Edit', edit_escogido_path(escogido) %></td>
        <td><%= link_to 'Destroy', escogido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Escogido', new_escogido_path %>
