<p id="notice"><%= notice %></p>

<p>
  <strong>Camino:</strong>
  <%= @docderivacione.camino_id %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @docderivacione.descripcion %>
</p>

<p>
  <strong>Docvalor:</strong>
  <%= @docderivacione.docvalor %>
</p>

<p>
  <strong>Presento:</strong>
  <%= @docderivacione.presento %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @docderivacione.estado %>
</p>

<%= link_to 'Edit', edit_docderivacione_path(@docderivacione) %> |
<%= link_to 'Back', docderivaciones_path %>
