<!-- <p id="notice"><%# notice %></p> -->
<style type="text/css">
  input[type=checkbox]
  {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
  }
</style>

<% if notice.present? %>
  <div class="alert alert-success"> 
    <i class="ti-user"></i>&nbsp;&nbsp;<%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
  </div>  
<% end %>

<div class="row page-titles">
  <div class="col-md-6 col-8 align-self-center">
    <h3 class="text-themecolor m-b-0 m-t-0">
      <span style="color: #000000;">Camino: </span><%= @camino.ruta.nombre %>
      <h3><%= @camino.unidade.descripcion %> (<%= @camino.cargo.descripcion %>)</h3>
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

      <%= form_tag('/documento/guarda_nuevo') do %>
        <div class="row">
          <div class="col-md-3" style="background-color: #efefef;">

            <h2>Documentos</h2>
           
            <div class="form-group">
              <label class="control-label">Documento</label>
              <%= hidden_field_tag('camino_id', @camino.id) %>
              <%= text_field_tag('descripcion', nil, :required => true, :class=>'form-control', maxlength: '150') %>
            </div>

            <div class="form-group">
              <label class="control-label">Tipo</label>
              <select name="tipo" class="form-control" required>
                <option value="">Seleccione Tipo</option>
                <option value="ca">Campo Abierto</option>
                <option value="nv">No Visisble</option>
              </select>
            </div>

            <div class="form-group">
              <label class="control-label">Adjunto &nbsp;&nbsp;&nbsp;&nbsp;</label>
              <input type="checkbox" name="presento"></label>
            </div>
        
          </div>
          <div class="col-md-9" style="background-color: #ffffe6;">
            <h2>Memorandum</h2>

            <div class="row">
              <div class="col-md-3">

                <div class="form-group">
                  <label class="control-label">Tipo</label>
                  <p></p>
                    <select name="tipo" class="form-control">
                      <option value="">Seleccione</option>
                      <option value="recepcion">Recepcion</option>
                      <option value="revision">Revision</option>
                    </select>
                </div>

              </div>
              <div class="col-md-9">

                <div class="form-group">
                  <label class="control-label">Remitente</label>
                    <div class="card">
                      <div class="card-body">
                        <% personal = User.where(rol: 'Funcionario') %>

                        <select class="select2" style="width: 100%; background-color: #ffffe6;" >
                          <option>Seleccione</option>
                          <optgroup>
                            <% personal.each do |p| %>
                            <option value="<%= p.id %>"><%= p.nombre %> (<%= p.cargo.descripcion %>)</option>
                            <% end %>
                          </optgroup>
                        </select>

                        <input type="hidden" name="valores_personal" id="valores_personal">
                      </div>
                    </div>

                
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Contenido</label>
                  <textarea name="contenido" rows="5" class="form-control"> De mi consideracion:
          Por la presente y en cumplimiento a lo establecido en el art. 34 del Decreto Supremo 0181
          Normas Basicas del Sistema de Administracion de Bienes y Servicios, comunico a ustedes 
          que han sido deesignados integrantes de la Comision de Calificacion para el proceso de contratacion
          <b>ANPE-05/2019 "SERVICIO DE TRANSPORTE DE PERSONAL RUTA III RECURRENTE 2019" Segunda Convocatoria,</b>
          para cuyo efecto y de acuerdo a lo establecido en el Art. 38 del D.S. 0181 tendran las siguientes funciones
          <ol>
            <li>Realizar la Apertura de propuestas</li>
            <li>Evaluacion y calificacion de las propuestas tecnicas y economicas</li>
            <li>Elaborar el informe de evaluacion y recomendacion de Adjudicacion o Declaratoria Desierta</li>
          </ol>
          Segun el cronograma del proceso, deberan contituirse en la Unidad Administrativa, para la 
          apertura de propuestas el dia viernes 14 de Diciembre de 2018 a horas 15:00 p.m. debiendo cumplir las responsabilidades
          con dedicacion exclusiva, no pudiendo delegar sus funciones, ni exclusarse de participar salvo los casos descritos en
          la norma vigente.
          El incumplimiento a los plazos senalados en el DBC, sera considerada como inobservancia a la normativa, por lo que deben 
          presentar el informe respectivo hasta la fecha establecida.
          Es cuanto  les comunico para fines consiguientes.</textarea>
                </div>
              </div>  
            </div>

          </div>
        </div>
        <%= submit_tag("Guardar") %>
        <% end %>
        <br />
        <div class="row">
          <div class="col-md-12">
            
            <% if @listado_documentos.present? %>

            <table class="table table-bordered" id="myTable">
              <thead>
                <tr>
                  <th>Descripcion</th>
                  <th>Tipo</th>
                  <th>Adjunto</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @listado_documentos.each do |ld| %>
                <tr>
                  <td><%= ld.descripcion %></td>
                  <td>
                    <% if ld.tipo == 'ca' %>
                      Campo Abierto
                    <% else %>
                      No Visible
                    <% end %>
                  </td>
                  <td>
                    <%# ld.presento %>
                      <% if ld.presento.nil? %>
                        No
                      <% else %>
                        Si
                      <% end %>
                  </td>
                  <td>
                    <%# link_to 'Ver', rutum %>
                    <%# link_to 'Editar', edit_rutum_path(rutum.id) %>
                    <%# link_to 'Caminos', ruta_ver_caminos_path(rutum) %>
                    <%= link_to 'Eliminar', controller: 'documentos', action: 'eliminar', id_documento: ld.id, id_camino: @camino.id %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <% else %>
            No tiene unidades
            <% end %>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<br>
<%= link_to 'Nueva Ruta', new_rutum_path %>
<% content_for :add_css do %>
<link href="<%= asset_path '/assets/plugins/toast-master/css/jquery.toast.css' %>" rel="stylesheet">
<link href="<%= asset_path '/assets/plugins/sweetalert/sweetalert.css' %>" rel="stylesheet" type="text/css">
<link href="<%= asset_path '/assets/plugins/select2/dist/css/select2.min.css' %>" rel="stylesheet" type="text/css">
<% end %>
<% content_for :add_js do %>
<script src="<%= asset_path '/assets/plugins/datatables/jquery.dataTables.min.js' %>"></script>
<script src="<%= asset_path '/js/validation.js' %>"></script>
<script src="<%= asset_path '/assets/plugins/toast-master/js/jquery.toast.js' %>"></script>
<script src="<%= asset_path '/assets/plugins/sweetalert/sweetalert.min.js' %>"></script>
<script type="text/javascript">

  $(document).ready(function () {
    // console.log( "ready!" );
    $("#camino_unidade_id").change(function () {
      //alert('Hizo cambio');
      var id_unidad = $("#camino_unidade_id").val();
      $("#carga_cargos").load("/rutas/muestra_cargos/" + id_unidad);
    });
  });

  var table5 = $('#myTable').DataTable({
    "oLanguage": {
      "sUrl": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
    },
    aaSorting: [[1, 'asc']]
  });
</script>

<script src="<%= asset_path '/assets/plugins/select2/dist/js/select2.full.min.js' %>"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $(".select2").select2();
    $("#demo").hover(function() {
      // alert("Selected value is: "+$(".select2").val());
    $("#valores_personal").val($(".select2").val());
    }, function() {
      /* Stuff to do when the mouse leaves the element */
    });
    // $(".select2").focusout(function(event) {
    // });
  });
</script>

<% end %>