<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @documento.descripcion %>
</p>

<p>
  <strong>Correlativo:</strong>
  <%= @documento.correlativo %>
</p>

<p>
  <strong>Presento:</strong>
  <%= @documento.presento %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @documento.observaciones %>
</p>

<%= link_to 'Edit', edit_documento_path(@documento) %> |
<%= link_to 'Back', documentos_path %>
