<div class="row">
  <div class="col-lg-12">
    <div class="card card-outline-info">
      <div class="card-body">
        <%= form_with(model: compra, local: true, html: {id: "form-compras",novalidate: true}) do |form| %>
        <div class="form-body">

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Numero</label>
                <div class="controls">
                  <%= form.text_field :numero, id: :compra_numero,  class: 'form-control', required: 'required',placeholder:'Ej. 25478' %>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Fecha</label>
                <div class="controls">
                  <%= form.date_field :fecha, id: :compra_fecha, class: 'form-control', required: 'required' %>
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-1">
              <div class="form-group">
                <label class="control-label">No.</label>
                <div class="controls">
                  1
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Descripcion</label>
                <div class="controls">
                  <%= form.text_field :codigo, id: :producto_codigo,  class: 'form-control', required: 'required',placeholder:'Ej. Proyector' %>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="control-label">Unidad</label>
                <div class="controls">
                  <%= form.text_field :nombre, id: :producto_nombre, class: 'form-control', required: 'required',placeholder:'Ej. 10' %>
                </div>
              </div>
            </div>

            <div class="col-md-1">
              <div class="form-group">
                <label class="control-label">P. Unitario</label>
                <div class="controls">
                  <%= form.text_field :nombre, id: :producto_nombre, class: 'form-control', required: 'required',placeholder:'Ej. 10' %>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="control-label">P. Referencial</label>
                <div class="controls">
                  <%= form.text_field :nombre, id: :producto_nombre, class: 'form-control', required: 'required',placeholder:'Ej. 10' %>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
          
            <div class="col-md-1">
              <div class="form-group">
                <div class="controls">
                  2
                </div>
              </div>
            </div>
          
            <div class="col-md-6">
              <div class="form-group">
                <div class="controls">
                  <%= form.text_field :codigo, id: :producto_codigo,  class: 'form-control', required: 'required',placeholder:'Ej. Proyector' %>
                </div>
              </div>
            </div>
          
            <div class="col-md-2">
              <div class="form-group">
                <div class="controls">
                  <%= form.text_field :nombre, id: :producto_nombre, class: 'form-control', required: 'required',placeholder:'Ej. 10' %>
                </div>
              </div>
            </div>
          
            <div class="col-md-1">
              <div class="form-group">
                <div class="controls">
                  <%= form.text_field :nombre, id: :producto_nombre, class: 'form-control', required: 'required',placeholder:'Ej. 10' %>
                </div>
              </div>
            </div>
          
            <div class="col-md-2">
              <div class="form-group">
                <div class="controls">
                  <%= form.text_field :nombre, id: :producto_nombre, class: 'form-control', required: 'required',placeholder:'Ej. 10' %>
                </div>
              </div>
            </div>
          
          </div>

            <div class="row">
            
              <div class="col-md-1">
                <div class="form-group">
                  <div class="controls">
                    3
                  </div>
                </div>
              </div>
            
              <div class="col-md-6">
                <div class="form-group">
                  <div class="controls">
                    <%= form.text_field :codigo, id: :producto_codigo,  class: 'form-control', required: 'required',placeholder:'Ej. Proyector' %>
                  </div>
                </div>
              </div>
            
              <div class="col-md-2">
                <div class="form-group">
                  <div class="controls">
                    <%= form.text_field :nombre, id: :producto_nombre, class: 'form-control', required: 'required',placeholder:'Ej. 10' %>
                  </div>
                </div>
              </div>
            
              <div class="col-md-1">
                <div class="form-group">
                  <div class="controls">
                    <%= form.text_field :nombre, id: :producto_nombre, class: 'form-control', required: 'required',placeholder:'Ej. 10' %>
                  </div>
                </div>
              </div>
            
              <div class="col-md-2">
                <div class="form-group">
                  <div class="controls">
                    <%= form.text_field :nombre, id: :producto_nombre, class: 'form-control', required: 'required',placeholder:'Ej. 10' %>
                  </div>
                </div>
              </div>
            
            </div>
  
          <div class="form-actions">

            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-block btn-success"><i class="fa fa-check"></i> Guardar</button>
              </div>
              <div class="col-md-6">
                <%= link_to 'Cancelar', compras_path, class: "btn btn-block btn-inverse" %>
              </div>
            </div>

          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :add_js do %>
<script src="<%= asset_path '/js/validation.js' %>"></script>

<script type="text/javascript">
  $("#form-producto input").jqBootstrapValidation();
</script>

<% end %>