<div class="row">
  <div class="col-lg-12">
    <div class="card card-outline-info">
      <div class="card-body">
        <%= form_with(model: compra, local: true, html: {id: "form-compras",novalidate: true}) do |form| %>
        <div class="form-body">

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Numero</label>
                        <div class="controls">
                            <%= form.text_field :numero, id: :compra_numero,  class: 'form-control', required: 'required',placeholder:'Ej. 25478' %>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Fecha</label>
                    <div class="controls">
                      <%= form.date_field :fecha, id: :compra_fecha, class: 'form-control', required: 'required' %>
                    </div>
                  </div>
                </div>
    
              </div>

            <script type="text/template" id="todos_labels">
              <div class="field-group row">

                <div class="col-md-1">
                    <div class="form-group">
                        <label class="control-label">No.</label>
                        <div class="controls">
                            <input type="text" class="span1 form-control" value="{?}" disabled>    
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label-{?}">Descripcion</label>
                        <div class="controls">
                            <%= form.text_field :descripcion, name: 'item[{?}][descripcion]', id: :compra_numero, class: 'form-control', required: 'required',placeholder:'Ej. 25478' %>

                            <!-- <input type="text" class="span6 form-control" name="item[{?}][descripcion]" id="task_{?}"> -->
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <label class="control-label-{?}">Unidad</label>
                        <div class="controls">
                            <%# form.text_field :numero, id: :compra_numero, class: 'form-control',
                            required: 'required',placeholder:'Ej. 25478' %>
                            <input type="text" class="span2 form-control" name="item[{?}][uniadd]" value="{task}" id="task_{?}">
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <label class="control-label-{?}">Cantidad</label>
                        <div class="controls">
                            <%# form.text_field :numero, id: :compra_numero, class: 'form-control',
                            required: 'required',placeholder:'Ej. 25478' %>
                            <input type="text" class="span2 form-control" name="item[{?}][p_unitario]" value="{task}" id="task_{?}">
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label-{?}">P. Unitario</label>
                        <div class="controls">
                            <%# form.text_field :numero, id: :compra_numero, class: 'form-control',
                            required: 'required',placeholder:'Ej. 25478' %>
                            <input type="text" class="span2 form-control" name="item[{?}][p_referencial]" value="{task}" id="task_{?}">
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label-{?}">P. Referencial</label>
                        <div class="controls">
                            <%# form.text_field :numero, id: :compra_numero, class: 'form-control',
                            required: 'required',placeholder:'Ej. 25478' %>
                            <input type="text" class="span2 form-control" name="item[{?}][descripcion]" value="{task}" id="task_{?}">
                        </div>
                    </div>
                </div>


                <div class="col-md-1">
                    <label for="">Action</label>
                    <br>
                        <input type="button" class="btn btn-danger span-2 delete" value="Quitar"/>
                    </div>
                </div>
            </script>
  
<!-- demo dupolicado -->
            <fieldset class="todos_labels">
              <div class="repeatable"></div>
              <div class="form-group" style="text-align:center;">
                <input type="button" value="(+) Adicionar Item" class="btn btn-info add" align="center">
                <p>&nbsp;</p>
                <div class="form-actions">
                    <div class="row">
                      <div class="col-md-6">
                        <button type="submit" class="btn btn-block btn-success"><i class="fa fa-check"></i> Guardar</button>
                      </div>
                      <div class="col-md-6">
                        <%= link_to 'Cancelar', compras_path, class: "btn btn-block btn-inverse" %>
                      </div>
                    </div>
                  </div>
        
              </div>
            </fieldset>
<!-- fin demo duplicado -->

        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :add_js do %>
<script src="<%= asset_path '/js/validation.js' %>"></script>
<script src="<%= asset_path '/js/jquery.repeatable.js' %>"></script>

<script type="text/javascript">
  $("#form-producto input").jqBootstrapValidation();
</script>

<script>
    $(function () {
        $(".todos_labels .repeatable").repeatable({
            addTrigger: ".todos_labels .add",
            deleteTrigger: ".todos_labels .delete",
            template: "#todos_labels",
            startWith: 1,
            max: 10,
            min: 1
        });
    });
</script>

<% end %>