<link href="<%= asset_path '/css/impresion.css' %>" rel="stylesheet" type="text/css" />
<style>
  #fecha1{
    position: absolute;
    padding-top: 150px;
    padding-left: 340px;
    font-size: 11pt;
    color: #000000;
    /*width: 400px;
    height: 200px;*/
    /*border: 3px solid #73AD21;*/
  }
  #fecha2{
    position: absolute;
    padding-top: 180px;
    padding-left: 565px;
    font-size: 11pt;
    color: #000000;
    /*width: 400px;
    height: 200px;*/
    /*border: 3px solid #73AD21;*/
  }
  #fecha3{
    position: absolute;
    padding-top: 265px;
    padding-left: 565px;
    font-size: 11pt;
    color: #000000;
    /*width: 400px;
    height: 200px;*/
    /*border: 3px solid #73AD21;*/
  }
  #fecha4{
    position: absolute;
    padding-top: 405px;
    padding-left: 565px;
    font-size: 11pt;
    color: #000000;
    /*width: 400px;
    height: 200px;*/
    /*border: 3px solid #73AD21;*/
  }
  #fecha5{
    position: absolute;
    padding-top: 365px;
    padding-left: 138px;
    font-size: 11pt;
    color: #000000;
    /*width: 400px;
    height: 200px;*/
    /*border: 3px solid #73AD21;*/
  }
</style>
<div class="row page-titles">
  <div class="col-md-4 col-12 align-self-center">
    <h3 class="text-themecolor m-b-0 m-t-0">

    </h3>
  </div>
  <div class="col-md-4 col-12 align-self-center">

  </div>

  <div class="col-md-4  col-12 align-self-center no-imprime">

    <button class="btn pull-right btn-secondary boton-guarda-cot btn-paraimprimir" onclick="print();">
      <i class="fa fa-print"></i> IMPRIMIR
    </button>
  </div>

</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="clase-impresion" style="width: 800px;">
          <table class="tabla-impresion-cabecera" border="1">
            <tr>
              <td width="10%">
                <img src="<%= asset_path '/assets/images/logo_emavias.jpg' %>" />
              </td>
              <td>
                <h5>SOLICITUD DE COMPRA O DE CONTRATACION</h5>
              </td>
            </tr>
          </table>

          <table class="tabla-impresion">
            <thead>
              <tr>
                <th>No.</th>
                <th>Descripcion</th>
                <th>Unidad</th>
                <th>Cantidad</th>
                <th>P. Unitario</th>
                <th>P. Referencial</th>
              </tr>
            </thead>
            <tbody>
              <% precio_total = 0 %>

              <% @solicitud.item.each_with_index do |i, con| %>
              <tr>
                <td><%= con+1 %></td>
                <td><%= i.descripcion %></td>
                <td><%= i.unidad %></td>
                <td><%= i.cantidad %></td>
                <% precio_total = precio_total + i.p_unitario %>
                <td class="montos"><%= i.p_unitario %></td>
                <td class="montos"><%= i.p_referencial %></td>
              </tr>

              <% end %>

              <tr>
                <td colspan="5" style="font-size: 14pt; text-align: right;"><b>TOTAL</b></td>
                <td id="idprectotal" style="font-size: 12pt; text-align: right;">
                  <%= number_to_currency(precio_total, unit: "") %>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="tabla-impresion-cabecera">
            <tr>
              <td>
                <span id="fecha1">
                  <% fecha = @solicitud.fecha.to_s.split('-') %>
                  <%= fecha[2] %>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <% fecha[1] %>
                  <% meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'] %>
                  <% if fecha[1] == "01" %>
                  <% mes = 'Enero' %>
                  <% elsif fecha[1] == "02" %>
                  <% mes = 'Febrero' %>
                  <% elsif fecha[1] == "03" %>
                  <% mes = 'Marzo' %>
                  <% elsif fecha[1] == "04" %>
                  <% mes = 'Abril' %>
                  <% elsif fecha[1] == "05" %>
                  <% mes = 'Mayo' %>
                  <% elsif fecha[1] == "06" %>
                  <% mes = 'Junio' %>
                  <% elsif fecha[1] == "07" %>
                  <% mes = 'Julio' %>
                  <% elsif fecha[1] == "08" %>
                  <% mes = 'Agosto' %>
                  <% elsif fecha[1] == "09" %>
                  <% mes = 'Septiembre' %>
                  <% elsif fecha[1] == "10" %>
                  <% mes = 'Octubre' %>
                  <% elsif fecha[1] == "11" %>
                  <% mes = 'Noviembre' %>
                  <% elsif fecha[1] == "12" %>
                  <% mes = 'Diciembre' %>
                  <% end %>
                  <%= mes %>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= fecha[0] %>
                </span>
                <span id="fecha2">
                  <%= fecha[1] %>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <%= mes %>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= fecha[0] %>
                </span>
                <span id="fecha3">
                  <%= fecha[1] %>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <%= mes %>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= fecha[0] %>
                </span>
                <span id="fecha4">
                  <%= fecha[1] %>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <%= mes %>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= fecha[0] %>
                </span>
                <span id="fecha5">
                  <%= fecha[1] %>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <%= mes %>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= fecha[0] %>
                </span>
                <img src="<%= asset_path '/assets/images/form_emavias.png' %>" width="800px;" />
              </td>
            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>