<link href="<%= asset_path '/css/impresion.css' %>" rel="stylesheet" type="text/css" />
<style>
  #fecha1{
    position: absolute;
    padding-top: 150px;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
  }
</style>
<div class="row page-titles">
  <div class="col-md-4 col-12 align-self-center">
    <h3 class="text-themecolor m-b-0 m-t-0">

    </h3>
  </div>
  <div class="col-md-4 col-12 align-self-center">

  </div>

  <div class="col-md-4  col-12 align-self-center no-imprime">

    <button class="btn pull-right btn-secondary boton-guarda-cot btn-paraimprimir" onclick="print();">
      <i class="fa fa-print"></i> IMPRIMIR
    </button>
  </div>

</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="clase-impresion" style="width: 800px;">
          <table class="tabla-impresion-cabecera" border="1">
            <tr>
              <td width="10%">
                <img src="<%= asset_path '/assets/images/logo_emavias.jpg' %>" />
              </td>
              <td>
                <h5>SOLICITUD DE COMPRA O DE CONTRATACION</h5>
              </td>
            </tr>
          </table>

          <table class="tabla-impresion">
            <thead>
              <tr>
                <th>No.</th>
                <th>Descripcion</th>
                <th>Unidad</th>
                <th>Cantidad</th>
                <th>P. Unitario</th>
                <th>P. Referencial</th>
              </tr>
            </thead>
            <tbody>
              <% precio_total = 0 %>

              <% @solicitud.item.each_with_index do |i, con| %>
              <tr>
                <td><%= con+1 %></td>
                <td><%= i.descripcion %></td>
                <td><%= i.unidad %></td>
                <td><%= i.cantidad %></td>
                <% precio_total = precio_total + i.p_unitario %>
                <td class="montos"><%= i.p_unitario %></td>
                <td class="montos"><%= i.p_referencial %></td>
              </tr>

              <% end %>

              <tr>
                <td colspan="5" style="font-size: 14pt; text-align: right;"><b>TOTAL</b></td>
                <td id="idprectotal" style="font-size: 12pt; text-align: right;">
                  <%= number_to_currency(precio_total, unit: "") %>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="tabla-impresion-cabecera">
            <tr>
              <td>
                <span id="fecha1">06 de Diciembre del 2018</span>
                <img src="<%= asset_path '/assets/images/form_emavias.png' %>" width="800px;" />
              </td>
            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>