<%# form_tag('/create', method: :post) do %>
<%= form_with url: '/create', method: :get, local: true do |form| %>
  <div class="field">
    <%= forssssssm.label :nombre %>
    <%= form.text_field :nombre, id: :ruta_nombre %>
  </div>

  <div class="field">
    <%= formaaa.label :descripcion %>
    <%= form.text_field :descripcion, id: :ruta_descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
