<%# form_tag('/create', method: :post) do %>
<%= form_tag('/rutas/crear') do %>
  <div class="field">
    <%= label_tag :nombre %>
    <%= text_field_tag('ruta[nombre]') %>
  </div>

  <div class="field">
    <%= label_tag :descripcion %>
    <%= text_field_tag('ruta[descripcion]') %>
  </div>

  <div class="actions">
    <%= submit_tag('Guardar') %>
  </div>
<% end %>