<p id="notice"><%= notice %></p>

<h1>Rutas</h1>

<table class="table table-bordered" id="myTable">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ruta.each do |rutum| %>
      <tr>
        <td><%= rutum.nombre %></td>
        <td><%= rutum.descripcion %></td>
        <td>
          <%= link_to 'Ver', rutum %>
          <%= link_to 'Editar', edit_rutum_path(rutum.id) %>
          <%= link_to 'Caminos', ruta_ver_caminos_path(rutum) %>
          <%= link_to 'Eliminar', rutum, method: :delete, data: { confirm: 'Estas seguro?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Nueva Ruta', new_rutum_path %>
<% content_for :add_css do %>
<link href="<%= asset_path '/assets/plugins/toast-master/css/jquery.toast.css' %>" rel="stylesheet">
<link href="<%= asset_path '/assets/plugins/sweetalert/sweetalert.css' %>" rel="stylesheet" type="text/css">
<% end %>
<% content_for :add_js do %>
<script src="<%= asset_path '/assets/plugins/datatables/jquery.dataTables.min.js' %>"></script>
<script src="<%= asset_path '/js/validation.js' %>"></script>
<script src="<%= asset_path '/assets/plugins/toast-master/js/jquery.toast.js' %>"></script>
<script src="<%= asset_path '/assets/plugins/sweetalert/sweetalert.min.js' %>"></script>
<script type="text/javascript">
  var table5 = $('#myTable').DataTable({
    "oLanguage": {
      "sUrl": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
    }
  });
</script>
<% end %>

