<!-- <p id="notice"><%# notice %></p> -->

<h1><%= @ruta.nombre %></h1>
<div class="row">
  <div class="col-md-6">
    <%= form_tag('/rutas/guarda_camino') do %>
    <%= select("camino", "unidade_id", Unidade.all.collect {|u| [ u.descripcion, u.id ] }, {include_blank: 'Seleccione Unidad'}) %>
    <div id="carga_funcionarios">
    <%= select("camino", "user_id", User.all.collect {|u| [ u.nombre, u.id ] }, {include_blank: 'Seleccione Funcionario'}) %>
    </div>
    <%= number_field_tag('camino[correlativo]') %>
    <%= hidden_field_tag('camino[ruta_id]', @ruta.id) %>
    <%= submit_tag("Guardar") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <% if @caminos.present? %>

    <table class="table table-bordered" id="myTable">
      <thead>
        <tr>
          <th>Unidad</th>
          <th>Funcionario</th>
          <th>Orden</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @caminos.each do |camino| %>
        <tr>
          <td><%= camino.unidade.descripcion %></td>
          <td><%= camino.user.nombre %></td>
          <td><%= camino.correlativo %></td>
          <td>
            <%# link_to 'Ver', rutum %>
            <%# link_to 'Editar', edit_rutum_path(rutum.id) %>
            <%# link_to 'Caminos', ruta_ver_caminos_path(rutum) %>
            <%= link_to 'Eliminar', controller: 'caminos', action: 'eliminar', id_camino: camino.id, cod_ruta: camino.ruta_id %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    No tiene unidades
    <% end %>

  </div>
</div>

<br>
<%= link_to 'Nueva Ruta', new_rutum_path %>
<% content_for :add_css do %>
<link href="<%= asset_path '/assets/plugins/toast-master/css/jquery.toast.css' %>" rel="stylesheet">
<link href="<%= asset_path '/assets/plugins/sweetalert/sweetalert.css' %>" rel="stylesheet" type="text/css">
<% end %>
<% content_for :add_js do %>
<script src="<%= asset_path '/assets/plugins/datatables/jquery.dataTables.min.js' %>"></script>
<script src="<%= asset_path '/js/validation.js' %>"></script>
<script src="<%= asset_path '/assets/plugins/toast-master/js/jquery.toast.js' %>"></script>
<script src="<%= asset_path '/assets/plugins/sweetalert/sweetalert.min.js' %>"></script>
<script type="text/javascript">

  $( document ).ready(function() {
      // console.log( "ready!" );
      $("#camino_unidade_id").change(function(){
        // alert('Hizo cambio');
        var id_unidad = $("#camino_unidade_id").val();
        $( "#carga_funcionarios" ).load( "/rutas/muestra_funcionarios/"+id_unidad );
      });
  });

  var table5 = $('#myTable').DataTable({
    "oLanguage": {
      "sUrl": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
    },
    aaSorting: [[1, 'asc']]
  });
</script>
<% end %>
