<!-- <p id="notice"><%# notice %></p> -->
<% if notice.present? %>
  <div class="alert alert-success"> 
    <i class="ti-user"></i>&nbsp;&nbsp;<%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
  </div>  
<% end %>
<pre>
<% @datos_camino.inspect %>
</pre>
<div class="row page-titles">
  <div class="col-md-6 col-8 align-self-center">
    <h3 class="text-themecolor m-b-0 m-t-0">
      <span style="color: #000000;">Unidad: </span>
      <%= @datos_camino.unidade.descripcion %>
      <span style="color: #000000;">Cargo:  </span>
      <%= @datos_camino.cargo.descripcion %>
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-md-6">

          <div class="row">
            <%= form_tag('/alternativo/guarda_nuevo') do %>
            <div class="col-md-12">
              <%= select("alternativo", "alt", Ruta.where(subruta: 1).collect {|u| [ u.nombre, u.id ] }, {include_blank: 'Seleccione Ruta'}, {class: 'form-control', required: 'required'}) %>
              <%= hidden_field_tag('alternativo[camino_id]', @datos_camino.id) %>
              <%= hidden_field_tag('alternativo[ruta_id]', @datos_camino.ruta_id) %>
              <%= submit_tag("Guardar") %>

            </div>
            
            <% end %>
          </div>
        </div>

          <div class="col-md-6">
            <% if @listado_alternativos.present? %>

            <table class="table table-bordered" id="myTable">
              <thead>
                <tr>
                  <th>Camino</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <%# byebug %>
                <% @listado_alternativos.each do |la| %>
                <tr>
                  <td><%= la.alternativo.nombre %></td>
                  <td>
                    <!-- <a href="<%# url_for(controller: 'documentos', action: 'nuevo', id_camino: camino.id) %>" class="btn btn-success" title="Adicionar Documentos"><i class="fa fa-files-o"></i></a>
                    <a href="<%# url_for(controller: 'alternativos', action: 'nuevo', id_ruta: camino.ruta_id) %>" class="btn btn-warning" title="Caminos Alternativos"><i class="fa fa-question-circle"></i></a> -->
                    <a href="<%= url_for(controller: 'alternativos', action: 'eliminar', id_alternativo: la.id, id_camino: la.camino_id) %>" class="btn btn-danger" title="Eliminar"><i class="fa fa-times"></i></a>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <% else %>
            No tiene unidades
            <% end %>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<br>
<%= link_to 'Nueva Ruta', new_rutum_path %>
<% content_for :add_css do %>
<link href="<%= asset_path '/assets/plugins/toast-master/css/jquery.toast.css' %>" rel="stylesheet">
<link href="<%= asset_path '/assets/plugins/sweetalert/sweetalert.css' %>" rel="stylesheet" type="text/css">
<% end %>
<% content_for :add_js do %>
<script src="<%= asset_path '/assets/plugins/datatables/jquery.dataTables.min.js' %>"></script>
<script src="<%= asset_path '/js/validation.js' %>"></script>
<script src="<%= asset_path '/assets/plugins/toast-master/js/jquery.toast.js' %>"></script>
<script src="<%= asset_path '/assets/plugins/sweetalert/sweetalert.min.js' %>"></script>
<script type="text/javascript">

  $( document ).ready(function() {
      // console.log( "ready!" );
      $("#camino_unidade_id").change(function(){
        //alert('Hizo cambio');
        var id_unidad = $("#camino_unidade_id").val();
        $("#carga_cargos").load( "/rutas/muestra_cargos/"+id_unidad);
      });
  });

  var table5 = $('#myTable').DataTable({
    "oLanguage": {
      "sUrl": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
    },
    aaSorting: [[2, 'asc']]
  });
</script>
<% end %>
